$main-background-color: #000000;

$font-size: 1.8rem;
$button-font-size: 4.8rem;
$button-padding: 1rem 2.5rem;
$button-border-color: #ffffff;
$text-color: #ffffff;

$countdown-font-size: 6rem;
$countdown-div-height: $countdown-font-size * 2;

$overlay-background-color: rgba(0, 0, 0, 0.5);
$overlay-border-radius: 16px;
$element-bodder-radius: 8px;

$progress-height: 5px;
$progress-border-radius: 5px;
$progress-background-color: #a8a8a8;

$answer-text-color: #ffffff;
$answer-hover-background: #2c9ca6;
$answer-wrong-background: #e63946;
$answer-right-background: #62c370;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
}

.App {
  font-family: sans-serif;
  font-size: $font-size;
}

p,
h1,
h2 {
  margin: 0 0 10px;
}

hr {
  background-color: #cccccc;
  color: #cccccc;
  height: 1px;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.overlay {
  background-color: $overlay-background-color;
}

.quizizzGame {
  background-color: $main-background-color;
  color: $text-color;
  height: 100vh;
  @media screen and (min-width: 992px) {
    height: 100vh;
  }
}

/* Start button */
.quizizzGame__start {
  .quizizzGame__start--button {
    font-size: $button-font-size;
    padding: $button-padding;
    border: 1px solid $button-border-color;
    border-radius: $element-bodder-radius;
    color: $text-color;
    background-color: transparent;
  }
  .quizizzGame__start--countdown {
    font-size: $countdown-font-size;
    height: $countdown-div-height;
    line-height: $countdown-div-height;
    background-color: $main-background-color;
  }
}

/* End Start button */

.quizizzGame__question {
  & > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .quizizzGame__question--main-content {
    height: calc(100vh - 165px);
    .quizizzGame__question--main-inner {
      margin-left: 0;
      margin-right: 0;
      border-radius: $overlay-border-radius;
      @media screen and (max-width: 991px) {
        padding: 5px;
      }
      & > div {
        @media screen and (min-width: 992px) {
          height: calc((100% -30px) / 2);
        }
      }
      .quizizzGame__question--text {
        @media screen and (min-width: 992px) {
          padding: 10px 10px 5px;
        }
        & > div {
          border-top-left-radius: $element-bodder-radius;
          border-top-right-radius: $element-bodder-radius;
          @media screen and (min-width: 992px) {
            height: 100%;
          }
        }
      }
      .quizizzGame__answers {
        @media screen and (min-width: 992px) {
          padding: 5px 10px 10px;
        }
        .quizizzGame__answers--inner {
          height: 100%;
          .quizizzGame__answer--item {
            @media screen and (max-width: 991px) {
              width: 100% !important;
            }
            .quizizzGame__answer--item-inner {
              height: 100%;
              border-radius: $element-bodder-radius;
              padding: 10px;
              cursor: pointer;
              color: $answer-text-color;
              &:hover,
              &.hover {
                background-color: $answer-hover-background;
              }
              &.wrong-answer {
                background-color: $answer-wrong-background;
              }
              &.right-answer {
                background-color: $answer-right-background;
              }
            }
          }
        }
      }
    }
  }
  .quizizzGame__top {
    height: 60px;
    .quizizzGame__top--inner {
      padding: 10px 0;
      .quizizzGame__top--step {
        #current {
          font-size: 1.4rem;
        }
      }
      .quizizzGame__top--timer {
        .quizizzGame__top--timer-total {
          height: $progress-height;
          width: 100%;
          border-radius: $progress-border-radius;
          background-color: $main-background-color;
        }
        .quizizzGame__top--timer-progress {
          height: $progress-height;
          background-color: $progress-background-color;
          border-radius: $progress-border-radius;
        }
      }
      .quizizzGame__top--score {
        text-align: right;
      }
    }
  }
  .quizizzGame__result {
    color: $text-color;
    height: 80px;
    line-height: 60px;
    padding: 10px;
    &.wrong-answer {
      background-color: $answer-wrong-background;
    }
    &.right-answer {
      background-color: $answer-right-background;
    }
  }
}

/* Print result */
.quizizzGame__score {
  padding: 50px;
  position: fixed;
  inset: 0;
  .quizizzGame__score--inner {
  }
}

.quizizzGame__score .quizizzGame__score--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.quizizzGame__score .quizizzGame__score--inner button {
  height: 40px;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 5px;
}
